<settings>
    <setting propertyKey="@Properties.showBatteryStatus" title="@Strings.ShowBatteryStatusTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.lightControlMode" title="@Strings.LightControlModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.LightControlOff</listEntry>
            <listEntry value="1">@Strings.LightControlSolar</listEntry>
            <listEntry value="2">@Strings.LightControlSunriseSunset</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.brightnessUnder40" title="@Strings.BrightnessUnder40Title">
        <settingConfig type="list">
            <listEntry value="20">@Strings.Brightness20</listEntry>
            <listEntry value="40">@Strings.Brightness40</listEntry>
            <listEntry value="60">@Strings.Brightness60</listEntry>
            <listEntry value="80">@Strings.Brightness80</listEntry>
            <listEntry value="100">@Strings.Brightness100</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.brightnessOver40" title="@Strings.BrightnessOver40Title">
        <settingConfig type="list">
            <listEntry value="20">@Strings.Brightness20</listEntry>
            <listEntry value="40">@Strings.Brightness40</listEntry>
            <listEntry value="60">@Strings.Brightness60</listEntry>
            <listEntry value="80">@Strings.Brightness80</listEntry>
            <listEntry value="100">@Strings.Brightness100</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showCurrentCars" title="@Strings.ShowCurrentCarsTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showRelativeSpeed" title="@Strings.ShowRelativeSpeedTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showNearestDistance" title="@Strings.ShowNearestDistanceTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showThreatLevel" title="@Strings.ShowThreatLevelTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showThreatSide" title="@Strings.ShowThreatSideTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showSessionCounter" title="@Strings.ShowSessionCounterTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showEstimatedSpeed" title="@Strings.ShowEstimatedSpeedTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.atDeviceId" title="@Strings.AtDeviceIdTitle" prompt="@Strings.DeviceIdPrompt">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.lrDeviceId" title="@Strings.LrDeviceIdTitle" prompt="@Strings.DeviceIdPrompt">
        <settingConfig type="numeric" />
    </setting>
</settings>
